{% extends 'deformation/base.html' %}

{% block content %}
<div class="row">
  <div class="col-sm-12">
    <div class="well">
      <h4>Choose desired positions:</h4>
      <div class="container" style="width:630px;">
        <button class="btn btn-default" id="raz">Clear</button>
        <strong>Current position</strong>  : <span id="cur"></span>
        <canvas class="centered" id="canvas" width="600" height="350" style="border:1px solid #000000; overflow-x:scroll;"></canvas>
        <form class="form" method="post" action="">
          {% csrf_token %}
          {{form.blah_coords}}
          <div class="input-group text-center">
            <div class="input-group-btn">
              <button class="btn btn-lg btn-warning" type="button" id="back">
              <span class="glyphicon glyphicon-step-backward"></span>
              </button>
            </div>
            <!-- <input type="text" class="form-control input-lg" id="coords" name="coordsList" value="[]" /> -->
            {{form.coordsList}}
            <span class="input-group-btn">
            <button class="btn btn-lg btn-success" type="submit" id="ok">
            <span class="glyphicon glyphicon-ok"></span>
            </button>
            </span>
          </div>
        </form>

        {% if form.errors %}
            <p style="color: red;">
                Please correct the error{{ form.errors|pluralize }} below.
            </p>
        {% endif %}

      </div>
    </div>
  </div>
</div>

{% endblock %}
