{% extends 'deformation/base.html' %}

{% block content %}
<div class="row">

    <div class="col-sm-8">


    <div class="well">
         <form class="form-horizontal" role="form">
          <h4>Liste des coordonnées</h4>
           <div class="form-group" style="padding:5px;">
            <textarea class="form-control" placeholder="Coordonnées" rows="5"></textarea>
          </div>
          <button class="btn btn-success pull-right" type="button">Envoyer</button><ul class="list-inline"><li>
        </form>
    </div><!--/well-->
  </div>

</div>

{% endblock %}
